# ignore everything
/*
/*/
.DS_Store

# ... but these:
!*.itermcolors
!*.terminal
!/i3/xinitrc
!/i3/config-vm
!/i3/config-desktop-4k
!/polybar/launch.sh
!/polybar/config-vm
!/polybar/config-desktop-4k
!/ranger/
!/yazi/
!/Thunar/uca.xml
!/compton/
!/kitty/
!/wezterm/
!/alacritty/
!/Wallpapers/
!/.Xmodmap
!/zsh/
!/.bash_profile
!/git-completion.bash
!/git-prompt.sh
!/.inputrc
!/.gitignore
!/README.md
!/switchy.bak
!/iTerm2_Preferences/
!/karabiner/karabiner.json
